@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,800,900');
* { 
	box-sizing: border-box;
}
.row:before,
.row:after {
	content: " ";
	clear: both;
	display: block;
}
body {
	margin: 0 auto;
	font-family: 'Montserrat', sans-serif;
}
.container {
	width: 100%;
	margin: 0 auto;
}

[class*="col-"] {
	float: left;
	min-height: 0.1vh;
	text-align: center;
	/*border: 2px solid blue;*/
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


/*jumbotron*/
/**navigation**/
.navbar {
	height: 100px;
}
.navbar .navbar-nav {
  	display: inline-block;
  	float: none;
  	vertical-align: top;
}
.navbar .navbar-collapse {
  	text-align: center;
}
.nav {
 	background: transparent;
  	overflow: hidden;
 	margin: 0;
 	padding: 0;
 	text-align: center;
}
.nav li {
    list-style: none;
    padding: 0 20px;
    text-align: center;
    background: rgba(255,20,20,0);
}
.nav li a {
	text-decoration: none;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	line-height: 60px;
	text-transform: uppercase;
	letter-spacing: 7px;
	text-shadow: 2px 2px #000;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
	transition: all .3s;
}
.nav li a:hover {
    color: #0066ff;
    background: rgba(255,20,20,0);
}
.nav li img {
	width: 53px;
	height: 55px;
}

/*jumbotron*/
/**jumbo**/
.jumbotron {
	background-image: url("https://i.imgur.com/UUc7IMG.png");
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	position: relative;
	margin-bottom: 0;
	padding-bottom: 0;
}
.jumbotron h1 {
	color: #fff;
	font-size: 36px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 2px 2px #000;
	letter-spacing: 12px;
	margin-top: 30vh;
}
.jumbotron p {
	color:  #fff;
	font-size: 16px;
	font-weight: 500;
	text-align: center;
	letter-spacing: 4px;
	text-shadow: 2px 2px #000;
	margin-top: 25px;
}
.jumbo-btn {
	margin: 0 auto;
	margin-top: 25px;
	text-align: center;
}
.jumbo-btn button {
	text-align: center;
	text-transform: uppercase;
	border-radius: 3px;
	background-color: #16a085;
	width: 166px;
	height: 49px;
	color:  #fff;
	font-size: 12px;
	font-weight: 700;
	border: none;
	transition: all 0.4s;
}
.jumbotron button:hover {
	background-color: #D0ECE6;
	color: #000;
}
.jumbotron i {
	color: #FFF;
	padding: 10px;
	transition: all 0.4s;
}
.jumbotron i:hover {
	transform: scale(1.2);
	color: #0066ff;
	cursor: pointer;
}
.icon {
	position: absolute;
	top: 85vh;
	left: 50%;
  	transform: translateX(-50%);
}

/*simple photo*/
.simple_photo {
	padding-top: 0;
	margin-top: 0;
	padding-left: 20vw;
	background-color: #f5f6f7;
	height: 550px;
}
.simple h1 {
	color:  #16a085;
	font-size: 18px;
	font-weight: 700;
	text-align: left;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-top: 150px;
	margin-bottom: 30px;
} 
.simple p {
	color:  #373737;
	font-size: 12px;
	font-weight: 300;
	line-height: 24px;
	text-align: left;
	letter-spacing: 1px;
	margin-bottom: 20px;
}
.simple button {
	border-radius: 3px;
	background-color: #16a085;
	width: 192px;
	height: 51px;
	color:  #fff;
	font-size: 12px;
	font-weight: 700;
	line-height: 20px;
	text-align: center;	
	text-transform: uppercase;
	border: none;
	float: left;
}
.simple button:hover {
	background-color: #D0ECE6;
	color: #000;
}
.simple.image {
	padding: 0;
}
.simple img {
	position: absolute;
	height: 500px;
	left: 46%;
	margin-top: 50px;
}

/*design*/
.mySlides1 {
	height: 450px;
	position: relative;
}
.img_phone {
	z-index: 0;
	position: absolute;
	left: 20vw;
	margin-top: 52px;
}
.mySlides1 img {
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 21.1vw;
	width: 261px;
}
.mySlides1, .mySlides2 {
	display: none
}
.describe h1 {
	margin-top: 100px;
	color: #16a085;
	font-size: 18px;
	font-weight: 700;
	line-height: 22px;
	text-align: left;
	text-transform: uppercase;
	margin-bottom: 30px;
	letter-spacing: 5px;
}
.describe p {
	color:  #373737;
	font-size: 12px;
	font-weight: 300;
	line-height: 22px;
	text-align: left;
	letter-spacing: 1px;
	margin-bottom: 35px;
	padding-right: 10vw;
}
.describe button {
	background-color:  #16a085;
	width: 192px;
	height: 51px;
	text-transform: uppercase;
	border-radius: 3px;
	color:  #fff;
	font-size: 12px;
	font-weight: 700;
	line-height: 20px;
	text-align: center;
	float: left;
	border: none;
}
.describe button:hover {
	background-color: #D0ECE6;
	color: #000;
}
.mySlides1 h4 {
	position: absolute;
	margin-top: 320px;
	margin-left: 100%;
	font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
}
.first_slides_nav {
	position: absolute;
	margin-top: 120px;
}

.first_slides_nav a.prev, .first_slides_nav a.next {
	cursor: pointer;
	color: #000;
	font-weight: bold;
  	font-size: 25px;
  	transition: 0.6s ease;
  	padding-bottom: 50px;
}
.describe a.prev {
	margin-right: 10px;
}

/*our_community*/
.our_community {
	background-color:  #f5f6f7;
	height: 480px;
}
.our_text img {
	width: 59px;
	height: 55px;
	text-align: center;
	margin-top: 10%;
	margin-left: 10vw;
}
.our_text h2 {
	color: #373737;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	margin-left: 10vw;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding-top: 20px;
}
.our_text p {
	color:  #373737;
	font-size: 10px;
	font-weight: 700;
	margin: 0 auto;
	text-align: center;
	letter-spacing: 2px;
	padding-top: 10px;
	margin-left: 10vw;
}
.gallery {
	position: relative;
	width: 1000px;
    float: left;
    margin-top: 60px;
}
.second_slides_nav {
	float: right;
	margin-bottom: 20px;
}
.second_slides_nav a.prev, .second_slides_nav a.next {
	cursor: pointer;
	color: #000;
	font-weight: bold;
  	font-size: 25px;
  	transition: 0.6s ease;
}
.second_slides_nav a:last-of-type {
	margin-left: 10px;
}
.mySlides2 img {
    width: 500px;
    height: 300px;
    object-fit: cover;
 }

/*subscribe*/
.subscribe {
	background-image: url("https://i.imgur.com/9YUm1H6.png");
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
div .hand_input {
	display: inline-flex;
}
.subscribe h1 {
	color:  #fff;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 700;
	text-align: center;
	margin-top: 40vh;
	letter-spacing: 3px;
	margin-bottom: 40px;
}
.subscribe input[type="email"] {
	border-radius: 3px;
	background-color: #FFF;
	width: 280px;
	height: 60px;	
	border: none;
	font-size: 16px;
	font-weight: 700;
	padding: 5px;
}
input::placeholder {
  	color: #373737;
	font-size: 16px;
	font-weight: 500;
	text-align: left;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 5px;
}
.subscribe input[type="submit"] {
	border: none;
	background-color: #16a085;
	height: 60px;
	margin: 0;
	color: white;
	font-weight: bold;
	width: 63px;
	cursor: pointer;
}

/*download*/
.download {
	background-color: #f5f6f7;
	height: 396px;
	padding: 70px;
}
.download h2 {
	color: #373737;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	letter-spacing: 3px;
	text-transform: uppercase;
}
.download p {
	color: #373737;
	font-size: 12px;
	font-weight: 700;
	line-height: 22px;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom: 2%;
}
.storeAp {
	display: flex;
	justify-content: flex-end;
}
.storeAn {
	display: flex;
	justify-content: flex-start;
}
.download button {
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
	background-color: #1abc9c;
	border: none;
	width: 240px;
	height: 56px;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	text-align: left;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 5px 10px;
}
.download button.apple, .download button.android {
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
	background-color: #16a085;
	width: 56px;
	height: 56px;
}
.download button.apple {
	margin-right: 5%;
}
.download button.btn-android {
	margin-left: 5%;
}
.download button i {
	color: #FFF;
	width: 21px;
	height: 24px;
	padding: 4px 5px;
}
.download button:hover {
	background-color: #D0ECE6;
	color: #000;
}

/*footer*/
.footer {
	background-color: #fff;
	height: 250px;
}
.footer_nav {
	padding-left: 20vw;
}
.footer_nav p {
	color: #373737;
	font-size: 14px;
	font-weight: 700;
	text-align: left;
	letter-spacing: 2px;
}
.footer_nav ul {
 	width: 100%;
  	background: transparent;
  	overflow: hidden;
 	margin: 0;
 	padding: 0;
 	margin-top: 50px;
 	margin-bottom: 20px;
 }
 .footer_nav ul li {
    list-style: none;
    padding: 2px;
    float: left;
    text-align: center;
    background: rgba(255,20,20,0);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.footer_nav li a {
	color: #373737;
	font-size: 14px;
	font-weight: 700;
	text-align: left;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 3px;
	border-right: 2px solid #009999;
	padding-right: 7px;
}
.footer_nav li a:hover {
	color: #0066ff;
}
.footer img {
	width: 59px;
	height: 55px;
	margin-top: 50px;
	float: right;
	margin-right: 18vw;
}

@media (max-width: 1920px) {
    /* For desktop, laptop: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
	
	/*design*/
	.img_phone {
		left: 19.9vw;
	}
	.mySlides1 img {
		left: 21.5vw;
	}
	.mySlides1 h4 {
		top: -40px;
	}
	.first_slides_nav {
		margin-top: 100px;
	}

	/*our_community*/
	.gallery {
		width: 800px;
 	}
	.mySlides2 img {
    	width: 400px;
    	height: 250px;
    }
    
}

@media (max-width: 1680px) {
    /* For tablets, laptop: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}

    /*simple_photo*/
    .simple img {
		left: 50%;
	}

    /*design*/
	.img_phone {
		margin-bottom: 0;
	}
	.mySlides1 img {
		left: 21.55vw;
	}
	.mySlides1 h4 {
		margin-top: 32vh;
	}
	.first_slides_nav {
		margin-top: 120px;
	}

	/*our_community*/
	.gallery {
		width: 700px;
 	}
	.mySlides2 img {
    	width: 350px;
    }
 
}

@media (max-width: 1600px) {
    /* For tablets, laptop: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}

    /*design*/
	.mySlides1 img {
		left: 21.65vw;
	}
	.mySlides1 h4 {
		margin-top: 38vh;
	}
	.first_slides_nav {
		margin-top: 100px;
	}
	/*our_community*/
	.gallery {
		width: 700px;
 	}
	.mySlides2 img {
    	width: 350px;
    }
}

@media (max-width: 1440px) {
    /* For tablets, laptop: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}

	/*simple photo*/
	.simple_photo {
		padding-top: 0;
		margin-top: 0;
		padding-left: 20vw;
		height: 440px;
	}
	.simple h1 {
		margin-top: 80px;
		margin-bottom: 20px;
	} 
	.simple p {
		margin-bottom: 15px;
	}
	.simple.image {
		padding: 0;
	}
	.simple img {
		height: 400px;
		left: 43%;
		margin-top: 40px;
	}
    
    /*design*/
	.mySlides1 img {
		left: 21.85vw;
	}
	
	/*our_community*/
	.gallery {
		width: 650px;
 	}
	.mySlides2 img {
    	width: 325px;
    }
}

@media (max-width: 1367px) {
    /* For tablets, laptop: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}

	/*simple photo*/
	.simple_photo {
		padding-right: 10px;
	}
	.simple img {
		left: 45%;
	}

    /*design*/
	.mySlides1 img {
		left: 22.1vw;
	}
	.mySlides1 h4 {
		top: 60px;
	}

	/*our_community*/
	.our_community {
		height: 400px;
	}
	.our_text img {
		margin-top: 15%;
	}
	.gallery {
		width: 600px;
 	}
	.mySlides2 img {
    	width: 300px;
    	height: 200px;
    }
}

@media (max-width: 1025px) {
    /* For tablets, laptop: */
    .col-ms-1 {width: 8.33%;}
    .col-ms-2 {width: 16.66%;}
    .col-ms-3 {width: 25%;}
    .col-ms-4 {width: 33.33%;}
    .col-ms-5 {width: 41.66%;}
    .col-ms-6 {width: 50%;}
    .col-ms-7 {width: 58.33%;}
    .col-ms-8 {width: 66.66%;}
    .col-ms-9 {width: 75%;}
    .col-ms-10 {width: 83.33%;}
    .col-ms-11 {width: 91.66%;}
    .col-ms-12 {width: 100%;}

	/*simple photo*/
	.simple_photo {
		padding-left: 10vw;
		padding-top: 40px;
		margin-top: 0;
		height: 460px;
	}
	.text_simple {
		padding-right: 15px;
	}
	.text_simple h1 {
		padding-bottom: 5px;
		margin-top: 0;
		padding-top: 0;
	} 
	.text_simple p {
		padding-bottom: 10px;
	}
	.simple img {
		height: 380px;
		width: 550px;
		left: 40%;
		margin-top: 40px;
	}

    /*design*/
	.mySlides1 {
		height: 450px;
	}
	.img_phone {
		left: 10vw;
		margin-top: 52px;
	}
	.mySlides1 img {
		left: 12.65vw;
	}
	.describe h1 {
		margin-top: 100px;
	}
	.mySlides1 h4 {
		margin-top: 46.3vh;
	}
	.first_slides_nav {
		margin-top: 85px;
	}

	/*our_community*/
	.our_text img {
		margin-top: 30%;
		padding-top: 10px;
	}
	.gallery {
		width: 600px;
    	margin-top: 40px;
	}
	.second_slides_nav {
		margin-bottom: 20px;
	}
	.mySlides2 img {
    	width: 300px;
    	height: 220px;
    }

    /*footer*/
	.footer_nav {
		padding-left: 10vw;
	}
}

@media (max-width: 991px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
   
   [class*="col-"] {
		float: none;
	}
	
	/*nav*/
	.nav li {
        padding: 0 3px;
  	}
	.nav li a {
		font-size: 14px;
		letter-spacing: 5px;
	}
	.nav li img {
		width: 50px;
		height: 53px;
	}

	/*simple_photo*/
	.simple_photo {
		margin-top: 0;
		margin-bottom: 0;
		padding-left: 8vw;
		padding-top: 50px;
		height: auto;
	}
	.image {
		background-color: #f5f6f7;
		height: 460px;
		padding-top: 50px;
	}
	.image img {
		height: 400px;
		width: 600px;
		left: 5vw;
		margin-top: 10px;
		padding-top: 10px;
	}
		
	/*design*/
	.design_phone {
		min-height: 900px;
		padding-left: 8vw;
	}
	.img_phone {
		left: 30vw;
		margin-top: 55px;
	}
	.mySlides1 img {
		left: 25.5vw;
		top: 13.55vh;
	}
	.describe h1 {
		margin-top: 150px;
		text-align: left;
	}
	.describe p {
		text-align: left;
	}
	.mySlides1 h4 {
		top: -90px;
		left: -90vw;
	}
	.first_slides_nav {
		margin-top: -280px;
	}
	
	/*our_community*/
	.our_community {
		height: 80vh;
	}
	.our_text img {
		margin: 0 auto;
		margin-top: 30px;
		margin-left: 0;
		text-align: center;
	}
	
	.mySlides2 img {
    	width: 500px;
    	height: 300px;
    }
	.our_text h2 {
		margin-left: 0;
	}
	.our_text p {
		margin-left: 0;
	}
	.gallery {
		width: 500px;
    	float: none;
    	margin: 0 auto;
    	text-align: center;
    	margin-top: 30px;
	}
	.second_slides_nav {
		float: right;
		margin-bottom: 20px;
	}	
	.mySlides2 img {
    	width: 500px;
    	height: 300px;
    	margin-bottom: 10px;
    	object-fit: cover;
   }
	
	/*download*/
 	.download {
 		height: 35vh;
 	}
 	.download p {
 		padding-bottom: 10px;
 	}
 	.storeAp {
		justify-content: center;
		padding-bottom: 30px;
	}
	.storeAn {
		justify-content: center;
	}	
	.download button.apple {
		margin-right: 0;
	}
	.download button.btn-android {
		margin-left: 0;
	}

	/*footer*/
	.footer img {
		width: 65px;
		height: 71px;
		margin-top: 50px;
		margin-bottom: 50px;
		float: left;
		margin-left: 10vw;
	}
}

@media (max-width: 768px) {
       
   [class*="col-"] {
		float: none;
	}
	
	/*design*/
	.mySlides1 img {
		top: 16.9vh;
		left: 25.6vw;
	}
	.mySlides1 h4 {
		margin-top: 85%;
		left: -91vw;
	}
	.first_slides_nav {
		margin-top: -240px;
	}

	/*our_community*/
	.our_community {
		height: 100vh;
	}
	.our_text img {
		width: 65px;
		height: 71px;
	}
	.gallery {
		width: 500px;
   	}
	.mySlides2 img {
    	width: 500px;
    	height: 300px;
    }
		
	/*download*/
 	.download {
 		height: 55vh;
 	}
}

@media (max-width: 425px) {
       
   [class*="col-"] {
		float: none;
	}
	
	/*nav*/
	.navbar-collapse {
		border: 0;
	}
    .navbar-nav {
    	margin: 0;
    }
    .icon-bar {
        background-color: #FFF;
    }
    .navbar-toggle {
       	background-color: rgba(255, 255, 255, 0.15);
        border: 2px solid #FFF;    
    }
	.navbar-nav li a {
		font-size: 14px;
		line-height: 20px;
		letter-spacing: 4px;
	}
	.navbar-nav li img {
		display: none;
	}

	/*jumbo*/
	.jumbotron h1 {
		letter-spacing: 8px;
		margin-top: 12vh;
	}
	.jumbotron p {
		letter-spacing: 2px;
		margin-top: 15px;
	}
	
	/*simple_photo*/
	.simple_photo {
		margin-top: 0;
		margin-bottom: 0;
		padding-left: 8vw;
		height: auto;
	}
	.image {
		height: 280px;
		padding-top: 50px;
	}
	.image img {
		height: 200px;
		width: 300px;
		left: 2vw;
		margin-top: 30px;
	}

	/*design*/
	.design_phone {
		min-height: 900px;
	}
	.img_phone {
		left: 6vw;
		margin-top: 52px;
	}
	.mySlides1 img {
		left: 4.9vw;
		top: 23vh;
	}
	.mySlides1 h4 {
		top: 40%;
		left: -88vw;
	}
	.first_slides_nav {
		margin-top: -100px;
	}
	.describe h1 {
		margin-top: 100px;
		text-align: left;
	}
	.describe p {
		float: left;
	}
	
	/*our_community*/
	.our_community {
		min-height: 830px;
	}
	.gallery {
		width: 360px;
    }
	.mySlides2 img {
    	width: 360px;
    	height: 240px;
    }
	
	/*download*/
 	.download {
 		min-height: 650px;
 	}
}

@media (max-width: 385px) {
    
   	/*design*/
	.mySlides1 img {
		left: 5.3vw;
		top: 26.6vh;
	}
	.mySlides1 h4 {
		top: 44%;
		/*left: -88vw;*/
	}
			
   	/*our_community*/
	.our_community {
		min-height: 800px;
	}
	.gallery {
		width: 330px;
    }
	.mySlides2 img {
    	width: 330px;
    	height: 220px;
    }
	
	/*subscribe*/
	.subscribe input[type="email"] {
		width: 220px;
		height: 40px;	
		font-size: 14px;
	}
	input::placeholder {
  		font-size: 14px;
	}
	.subscribe input[type="submit"] {
		height: 40px;
		width: 43px;
	}

	/*download*/
 	.download {
 		min-height: 750px;
 	}
}

@media (max-width: 376px) {
    
   	/*design*/
	.mySlides1 img {
		left: 5.5vw;
		top: 25.5vh;
	}
	
   	/*our_community*/
	.our_community {
		min-height: 800px;
	}
	.gallery {
		width: 320px;
    }
	.mySlides2 img {
    	width: 320px;
    	height: 220px;
    }
}

@media (max-width: 361px) {
    
   /*design*/
	.mySlides1 img {
		left: 6vw;
		top: 26.5vh;
	}
	.mySlides1 h4 {
		top: 47%;
		left: -87vw;
	}
		
   	/*our_community*/
	.our_community {
		min-height: 800px;
	}
	.gallery {
		width: 300px;
    }
	.mySlides2 img {
    	width: 300px;
    	height: 200px;
    }

	/*download*/
    .download {
 		height: 40vh;
 	}
 	.download p {
 		padding-bottom: 15px;
 	}
 	.download button {
		font-size: 14px;
		letter-spacing: 1px;
		height: 40px;
	}
	.download button.apple, .download button.android {
		height: 40px;
	}
 	.download button i {
		padding: 2px 2px 3px 3px;
		
	}
}

@media (max-width: 321px) {
    
   /*jumbo*/
   .jumbotron {
   		padding-top: 60px;
   		min-height: 600px;
   }
   .jumbotron h1 {
		font-size: 30px;
		letter-spacing: 6px;
		margin-top: 6vh;
	}
	.jumbotron p {
		font-size: 14px;
	}
	.jumbotron i {
		padding: 5px;
	}
	.icon {
		top: 98vh;
	}
   /*simple_photo*/
	.image {
		height: 270px;
	}
	.image img {
		height: 190px;
		width: 270px;
		left: 1vw;
	}

   /*design*/
	.img_phone img {
		width: 95%;
	}
	.mySlides1 img {
		width: 227px;
		left: 6vw;
		top: 33.7vh;
	}
	.mySlides1 h4 {
		top: 42%;
		left: -89vw;
	}
	.first_slides_nav {
		margin-top: -105px;
	}
	.describe h1 {
		margin-top: 50px;
	}

	/*our_community*/
	.our_community {
		min-height: 730px;
	}
	.gallery {
		width: 260px;
    }
	.mySlides2 img {
    	width: 260px;
    	height: 180px;
    }

	/*download*/
    .download {
 		min-height: 800px;
 	}
 	
}